.tech::before {
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 50px;
	display: block;
	background-color: gray;
	margin-right: 8px;
}

.typescript::before {
	background-color: #3276c6;
}

.javascript::before {
	background-color: #f5da79;
}

.html::before {
	background-color: #ff4343;
}

.vue::before {
	background-color: #68b280;
}
